body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ece5e5;
}

.bg-steel {
    background-color: #000000;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: none;
    padding: 10px 20px;
    padding-left: 60mm;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}