{% extends "layout.html" %} {% block content %}
<html>

<head>

</head>

<body>
    <h1><u><b>Project name: Image Compression using Huffman coding</b></u></h1>
    <h2>A web app built on Flask that lets users upload images and download the compressed image. <br>Uses Huffman Compression Algorithm to compress the bits of each pixel generated, using Heaps in C.</h2>
    <h3>STEPS:<br>1.Covert image to text.<br>2.Compress the text using Huffman Coding.<br>3.Convert the compressed text back to Image.</h3>

</body>

</html>
{% endblock %} Footer